# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
dist/
build/
*.log

# Node
frontend-react/node_modules/
frontend-react/build/
frontend-react/dist/
frontend-react/.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

# Project Specific
.qodo/
data/
